<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Бумага</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h4>Маркировка</h4>
    <div style="display: flex;justify-content: center;">
      <ion-avatar>
        <img src="../../../../../assets/img/markers/10.png" width="40px" height="40px">
      </ion-avatar>
      <ion-avatar>
        <img src="../../../../../assets/img/markers/11.png" width="40px" height="40px">
      </ion-avatar>
      <ion-avatar>
        <img src="../../../../../assets/img/markers/12.png" width="40px" height="40px">
      </ion-avatar>
      <ion-avatar>
        <img src="../../../../../assets/img/markers/13.png" width="40px" height="40px">
      </ion-avatar>
    </div>
    <h4>Можно сдать</h4>
    <span>Книги, газеты, офисную бумагу, бумажные альбомы, тетради, листовки, коробки и бурый картон, в том числе гофрированный. Бумажную упаковку с маркировками 20,21 и 22 (PAP)</span>
    <h4>Нельзя сдать</h4>
    <span>Ламинированную и фольгированную бумагу, пергамент и кальку, жирную и грязную бумагу, яичные лотки, втулки, туалетную бумагу, сухие и влажные салфетки, фотографии, чеки и другую термобумагу, упаковку от сигарет. Бумажные стаканчики и любую бумажную посуду, которая покрыта пленкой. </span>
    <h4>Подготовка к переработке</h4>
    <p>•	Вытащить металлические элементы, убрать пластик и скотч</p>
    <p>•	Проверить не грязная ли бумага, сложить в кипы и перевязать веревкой</p>
    <p>•	Проверить примут ли у вас изделие можно, надорвав его. Если внутри бумага белая, то сдавать можно</p>
  </ion-card>
</ion-content>
