<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Справочник</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 15px 0;">
    <div style="display: flex;justify-content:space-evenly;">
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light" (click)="presentModalPaper()">
          <ion-icon name="newspaper-outline"></ion-icon>
        </ion-button>
        <ion-label>Бумага</ion-label>
      </div>
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light">
          <ion-icon name="grid-outline"></ion-icon>
        </ion-button>
        <ion-label>Пластик</ion-label>
      </div>
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light">
          <ion-icon name="flask-outline"></ion-icon>
        </ion-button>
        <ion-label>Стекло</ion-label>
      </div>
    </div>
    <div style="display: flex;justify-content:space-evenly;">
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light">
          <ion-icon name="construct-outline"></ion-icon>
        </ion-button>
        <ion-label>Металл</ion-label>
      </div>
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light">
          <ion-icon name="fast-food-outline"></ion-icon>
        </ion-button>
        <ion-label>Пищевые отходы</ion-label>
      </div>
    </div>
    <div style="display: flex;justify-content:space-evenly;">
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light">
          <ion-icon name="battery-full-outline"></ion-icon>
        </ion-button>
        <ion-label>Батарейки</ion-label>
      </div>
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light">
          <ion-icon name="bulb-outline"></ion-icon>
        </ion-button>
        <ion-label>Лампочки</ion-label>
      </div>
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light">
          <ion-icon name="shirt-outline"></ion-icon>
        </ion-button>
        <ion-label>Одежда</ion-label>
      </div>
    </div>
    <div style="display: flex;justify-content:space-evenly;">
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light">
          <ion-icon name="flash-outline"></ion-icon>
        </ion-button>
        <ion-label>Электроника</ion-label>
      </div>
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light">
          <ion-icon name="skull-outline"></ion-icon>
        </ion-button>
        <ion-label>Опасные отходы</ion-label>
      </div>
    </div>
    <div style="display: flex;justify-content:space-evenly;">
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-button size="large" color="light" (click)="presentModalMarkers()">
          <ion-icon name="repeat-outline"></ion-icon>
        </ion-button>
        <ion-label>Маркировка</ion-label>
      </div>
    </div>
  </ion-card>  
</ion-content>


