<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Профиль</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['notifications']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/data/img/7.jpg">
    </ion-avatar>
    <ion-label>Кунафина Лилия</ion-label>
  </ion-item>
  Статистика, достижения, действующие скидки и купоны, настройки
  <ion-button (click)="logout()" expand="block">Выйти</ion-button>
</ion-content>
