<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Профиль</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['notifications']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card mode="md">
    <ion-item-divider style="margin-bottom: 10px;">
      <div style="display: flex;align-items: center; margin-top: 10px; margin-bottom: 10px;">
        <ion-avatar>
          <img src="../../../assets/data/img/7.jpg">
        </ion-avatar>
        <ion-label style="padding-left: 20px;font-weight: bold;color: black; font-size: 19px;">Кунафина Лилия</ion-label>
      </div>
    </ion-item-divider>

    <ion-label style="margin-left:10px;font-weight: bold;color: black; font-size: 14px;">О себе</ion-label>
    <ion-input value="Напишите коротко о себе и чем вы занимаетесь" disabled></ion-input>
    <ion-item-divider></ion-item-divider>

    <ion-buttons>
      <ion-button [routerLink]="['']">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['']">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['']">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['']">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['']">
        <ion-icon name="logo-vk"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['']">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card>

  <ion-card mode="md">
    <ion-item [routerLink]="['shop']">
      <ion-icon name="gift-outline" slot="start"></ion-icon>
      <ion-label>Магазин</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['purchases']">
      <ion-icon name="basket-outline" slot="start"></ion-icon>
      <ion-label>Мои покупки</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item [routerLink]="['stats']">
      <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
      <ion-label>Статистика</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item [routerLink]="['achievements']">
      <ion-icon name="medal-outline" slot="start"></ion-icon>
      <ion-label>Достижения</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card style="display: flex;flex-direction: column;align-items: center; padding-top: 10px;padding-bottom: 10px;">
    <img src="../../../assets/data/img/8.jpg" style="width: 100px;"/>
    <ion-label style="font-size: 16px;">Уровень 1</ion-label>
    <ion-progress-bar color="success" value="0.25" style="padding: 5px;"></ion-progress-bar>
    <ion-label style="font-size: 14px;">До следующего уровня осталось 75 баллов</ion-label>
  </ion-card>
  <!-- <ion-button (click)="logout()" expand="block">Выйти</ion-button> -->
</ion-content>
