<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Поступки</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-segment scrollable value="all" mode="md">
      <ion-segment-button value="all">
        <ion-label>Все</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pop" style="min-width: 110px;">
        <ion-label>Популярно</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pin" style="min-width: 135px;">
        <ion-label>Еда и напитки</ion-label>
      </ion-segment-button>
      <ion-segment-button value="star">
        <ion-label>Отходы</ion-label>
      </ion-segment-button>
      <ion-segment-button value="call" style="min-width: 100px;">
        <ion-label>Расскажи</ion-label>
      </ion-segment-button>
      <ion-segment-button value="materials" style="min-width: 110px;">
        <ion-label>Материалы</ion-label>
      </ion-segment-button>
      <ion-segment-button value="energy" style="min-width: 145px;">
        <ion-label>Энергия и вода</ion-label>
      </ion-segment-button>
    </ion-segment>

    
    <ion-list mode="md">
      <ion-item>
        <ion-icon name="bulb-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Выключай свет</h3>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Распространяй информацию</h3>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="repeat-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Отдавай на переработку</h3>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="thermometer-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Остуди пыл</h3>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-youtube" slot="start"></ion-icon>
        <ion-label>
          <h3>Будь в курсе</h3>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="hammer-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Чини</h3>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>