<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Поступки</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-segment scrollable value="all" mode="md">
      <ion-segment-button value="all">
        <ion-label>Все</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pop" style="min-width: 110px;">
        <ion-label>Популярно</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pin" style="min-width: 135px;">
        <ion-label>Еда и напитки</ion-label>
      </ion-segment-button>
      <ion-segment-button value="star">
        <ion-label>Отходы</ion-label>
      </ion-segment-button>
      <ion-segment-button value="call" style="min-width: 100px;">
        <ion-label>Расскажи</ion-label>
      </ion-segment-button>
      <ion-segment-button value="materials" style="min-width: 110px;">
        <ion-label>Материалы</ion-label>
      </ion-segment-button>
      <ion-segment-button value="energy" style="min-width: 145px;">
        <ion-label>Энергия и вода</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>

</ion-content>