<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Сервисы</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div style="display: flex; flex-direction: column;">
      <div style="margin: 15px;">Для вашего удобства предоставляем вам услугу ЭкоТакси</div>
      <div style="margin: 15px;">Приедем и заберём ваши собранные отходы, а потом доставим их до пункта сбора</div>
      <div style="margin: 15px;">Вам не придётся тратить время на поиск пункта сбора отходов и вывоз мусора</div>
      <div style="margin: 15px;">ЭкоТакси сделает это за вас</div>
      <a style="margin: 15px;">Более подробну информацию об услуге читайте здесь</a>
    </div>
    <ion-button expand="block" style="margin: 15px;">Вызвать ЭкоТакси</ion-button>
  </ion-card>
</ion-content>
