<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Интресное</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content [routerLink]="['info']">
      <ion-icon name="information-circle-outline"></ion-icon>
      Справочник
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content [routerLink]="['doing']">
      <ion-icon name="star-outline"></ion-icon>
      Поступки
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content [routerLink]="['tests']">
      <ion-icon name="color-wand-outline"></ion-icon>
      Испытания
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content [routerLink]="['events']">
      <ion-icon name="rocket-outline"></ion-icon>
      Мероприятия
    </ion-card-content>
  </ion-card>
</ion-content>
