<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Интресное</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item [routerLink]="['info']">
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>Справочник</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['doing']">
      <ion-icon name="star-outline" slot="start"></ion-icon>
      <ion-label>Поступки</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item [routerLink]="['tests']">
      <ion-icon name="color-wand-outline" slot="start"></ion-icon>
      <ion-label>Испытания</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item [routerLink]="['events']">
      <ion-icon name="rocket-outline" slot="start"></ion-icon>
      <ion-label>Мероприятия</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
