<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Лента</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['search']">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="load()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of items" routerLink="news/{{item.id}}">
    <img src="{{item.img}}" />
    <ion-card-header>
      <ion-card-title>{{item.header}}</ion-card-title>
    </ion-card-header>
    <ion-card-content></ion-card-content>
  </ion-card>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
