<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Маркировки</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Поиск"></ion-searchbar>
  <ion-card>
    <ion-list mode="md">
      <ion-item *ngFor="let item of items">
        <ion-avatar slot="start">
          <img src="{{item.img}}" width="40px" height="40px">
        </ion-avatar>
        <ion-label>
          <h2>{{item.name}}</h2>
          <h3>{{item.description}}</h3>
          <a style="font-size: 14px;">Показать пункты</a>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
